
<!DOCTYPE html>

<h2>New Rental Form</h2>

<form id="new-rental-form">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="new-rental-customer" name="new-rental-customer-selected-customer" class="form-control" type="text" value="" />
        </div>
    </div>
    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input id="new-rental-movie" name="new-rental-movie-selected-movie" class="form-control" type="text" value="" />
        </div>
    </div>
    <button class="btn btn-primary mb-3">Submit</button>
    <div></div>
</form>

<div class="row">
    <div class="col-md-4">
        <ul id="rental-movies" class="list-group"></ul>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            var vm = {
                movieIds: []
            };

            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#new-rental-customer').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'customers',
                display: 'name',
                source: customers
            }).on("typeahead:select", function (e, customer) {
                vm.customerId = customer.id;
                console.log(vm);
            });

            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#new-rental-movie').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'movies',
                display: 'name',
                source: movies
            }).on("typeahead:select", function (e, movie) {
                vm.movieIds.push(movie.id);
                console.log(vm);
                $("#rental-movies").append("<li class='list-group-item'>" + movie.name + "</li>");
                $("#new-rental-movie").typeahead("val", "");
            });

            $.validator.addMethod("validCustomer", function () {
                return vm.customerId && vm.customerId !== 0;
            }, "Please select a valid customer");

            $.validator.addMethod("validMovie", function () {
                return vm.movieIds && vm.movieIds.length > 0;
            }, "No movies selected");

            var validator = $("#new-rental-form").validate({
                rules: {
                    "new-rental-customer-selected-customer": { validCustomer: true },
                    "new-rental-movie-selected-movie": { validMovie: true }
                },
                submitHandler: function(){
                    $.ajax({
                        url: "/api/rental/new",
                        method: "post",
                        data: vm
                    })
                    .done(function () {
                        toastr.success("Rentals successfully recorded.");
                        $("#new-rental-customer").typeahead("val", "");
                        $("#new-rental-movie").typeahead("val", "");
                        $("new-rental-form").empty();
                        vm = { movieIds: [] };
                        validator.resetForm();

                    })
                    .fail(function () {
                        toastr.error("Something unexpected happened.");
                    });

                    return false;
                }
            });

        });
    </script>
}